.projects {
    background: $light-grey;
    padding: 8rem 0;
    &__description {
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
        color: $grey;
        max-width: 580px;
    }
    &__title {
        font-size: 2.25rem;
        margin: 0 auto;
        font-style: normal;
        font-weight: 600;
        padding: 1rem 0;
        max-width: 1184px;
}

.projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}