.skills {
    max-width: 1184px;
    margin: 0 auto;
    &__title {
        font-size: 2.25rem;
        margin: 0;
        font-style: normal;
        font-weight: 600;
        padding: 1rem 0;
        // linia - podkreślenie
        border-bottom: 2px solid #E5E8EC;
    }
}
