.skills {
    max-width: 1184px;
    margin: 0 auto;
    &__title {
        font-size: 2.25rem;
        margin: 0;
        font-style: normal;
        font-weight: 600;
        padding: 1rem 0;
        // underlinie - podkreślnik
        border-bottom: 2px solid #E5E8EC;
    }
}

.skills-list {
    display: flex;
    padding: 8rem 0;
    justify-content: space-between;
    &__title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.75rem;
        margin: 0;
        &::before {
            content: "";
            height: 0.25rem;
            width: 5rem;
            display: block;
            background: $green;
        }

    }
}